<div class="container">
  <h4>Criar usuário</h4>

  <form [formGroup]="createUserForm" (submit)="send()" class="form">

    <div class="form-group">
      <input
          type="text"
          placeholder="Nome"
          formControlName="name">
      <app-view-message
          *ngIf="createUserForm.get('name').errors?.required"
          [message]="'Nome requerido'">
      </app-view-message>
    </div>

    <div class="form-group">
      <input
          type="text"
          placeholder="E-mail"
          formControlName="email">
      <app-view-message
          *ngIf="createUserForm.get('email').errors?.required"
          [message]="'E-mail requerido'">
      </app-view-message>
      <app-view-message
          *ngIf="createUserForm.get('email').errors?.email"
          [message]="'E-mail inválido'">
      </app-view-message>
    </div>

    <div class="form-group">
      <input
          type="password"
          placeholder="Senha"
          formControlName="password">
      <app-view-message
          *ngIf="createUserForm.get('password').errors?.required"
          [message]="'Senha requerida'">
      </app-view-message>
    </div>

    <button class="btn btn-primary"
        type="submit"
        [disabled]="createUserForm.invalid">
        Enviar
    </button>
  </form>
</div>
